<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="SensorManagement"
		class="com.thu.esuite.core.sensors.management.impl.SensorManagementServiceImpl">
		<property name="reader" ref="readerSet" />
		<property name="esperManager">
			<ref bean="configServer" />
		</property>
	</bean>
	
	
	<bean id="configServer" class="com.thu.esuite.core.services.esper.configuration.EsperConfigurationServiceImpl">
	</bean>
</beans>